app-copyright {
    .copyright {
        border-top: 1px solid #1d1d1d;
    }

    .bg-copyright {
        background-color: #1d1d1d;
    }

    .social-media {
        img {
            height: 36px;
        }
    }
    .follow {
        margin-top: 20px;
        img {
            height: 36px;
        }
    }
}