<div class="p-layout bg-copyright copyright">
  <div class="flex follow items-center justify-center text-white">
    Follow Us: 
    <img loading="lazy" class="ml-4 pointer" src="assets/svg/instagram.svg" alt="Instagram" (click)="appHelper.goToLink('https://www.instagram.com/ngodings_com/')">
    <img loading="lazy" class="ml-4 pointer" src="assets/svg/facebook.svg" alt="Facebook" (click)="appHelper.goToLink('https://www.facebook.com/ngodings/')">
  </div>
  <footer class="footer justify-center items-center py-4 text-neutral-content">
    <div class="items-center grid-flow-col">
      <p>Copyright © {{ appData.project }} 2022 - All right reserved</p>
    </div> 
  </footer>
</div>
