<!-- <ngx-image-tagger 
    [tagger]="tagger" 
    [isAllowCreate]="true"
    [isShowLink]="true"
    [isShowPrice]="true"
    [isShowShop]="true"
>
</ngx-image-tagger> -->

<div class="p-layout mt-10 text-center bg-home">
    <div style="height: 35px"></div>
    <div class="pt-10 pb-10">
      <div class="flex items-center justify-center">
        <img src="assets/angular.png" alt="Angular" style="width: 100px">
      </div>
      <div class="text-2xl md:text-4xl">
        Angular - Packages
      </div>
      <div class="text-2xl mt-2">
        {{ appData.version }}
      </div>
    </div>
    <div style="height: 35px"></div>

    <div class="grid grid-cols-4 gap-6 mb-10">
        <ng-container *ngFor="let item of packages">
            <div class="card-standard pointer card-hover" (click)="appHelper.goToURL(item.url)">
                {{ item.name }}
            </div>
        </ng-container>
      </div>
</div>