
ngodings-home {
    .card-standard {
        box-shadow: 0 5px 5px -3px #0003, 0 8px 10px 1px #00000024, 0 3px 14px 2px #0000001f;
        padding: 50px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }
}