.pointer {
    cursor: pointer;
}
.space-top {
    padding-top: 650px;
}
.full-pages {
    width: 100vw;
    height: 100vh;
}
.no-padding {
    padding: 0 !important;
}
.modal-box, .modal {
    z-index: 9999 !important;
}
.shadow-standard {
    box-shadow: 0 0 10px rgb(60 72 88 / 15%) !important;
}
.avatar.image-center img {
    margin: 0 auto;
}
.image-center {
    margin: 0 auto;
}

.space-pages {
    padding: 150px 0px;
}

pre code.hljs {
    padding: 0;
}

.table-code {
    font-family: Roboto Mono,monospace;
}

code {
    font-size: 11px;
    padding: 0 !important;
    margin: 0 !important;
}

pre {
    padding: 0 !important;
    margin: 0 !important;
}

.code-container {
    overflow: auto;
}

@media (min-width:320px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */
    .p-layout {
        padding: 0px 20px 0px 20px;
    }
    .space-top {
        padding-top: 250px;
    }
    .space-section {
        padding-top: 30px;
        padding-bottom: 30px;
    }
 }
@media (min-width:481px)  { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .p-layout {
        padding: 0px 40px 0px 40px;
    }
    .space-top {
        padding-top: 250px;
    }
    .space-section {
        padding-top: 30px;
        padding-bottom: 30px;
    }
 }
@media (min-width:641px)  { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .p-layout {
        padding: 0px 40px 0px 40px;
    }
    .space-top {
        padding-top: 280px;
    }
    .space-section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
 }
@media (min-width:961px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .p-layout {
        padding: 0px 60px 0px 60px;
    }
    .space-top {
        padding-top: 350px;
    }
    .space-section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
 }
@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */
    .p-layout {
        padding: 0px 120px 0px 120px;
    }
    .space-top {
        padding-top: 440px;
    }
    .space-section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
 }
@media (min-width:1281px) { 
    /* hi-res laptops and desktops */
    .p-layout {
        padding: 0px 160px 0px 160px;
    }
    .space-top {
        padding-top: 625px;
    }
    .space-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
@media (min-width:1650px) { 
    /* hi-res laptops and desktops */
    .p-layout {
        padding: 0px 260px 0px 260px;
    }
    .space-top {
        padding-top: 625px;
    }
    .space-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}