@media (min-width:320px)  { 
    /* smartphones, iPhone, portrait 480x320 phones */
    .hidden-fm {
        display: none;
    }
    .hidden-m {
        display: none;
    }
    .hidden-l {
        display: block;
    }
    .hidden-fl {
        display: flex;
    }
 }
@media (min-width:481px)  { 
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .hidden-fm {
        display: none;
    }
    .hidden-m {
        display: none;
    }
    .hidden-l {
        display: block;
    }
    .hidden-fl {
        display: flex;
    }
 }
@media (min-width:641px)  { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
    .hidden-fm {
        display: none;
    }
    .hidden-m {
        display: block;
    }
    .hidden-fl {
        display: flex;
    }
    .hidden-l {
        display: block;
    }
 }
@media (min-width:961px)  { 
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .hidden-fm {
        display: flex;
    }
    .hidden-m {
        display: block;
    }
    .hidden-l {
        display: none;
    }
    .hidden-fl {
        display: none;
    }
 }
@media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */
    .hidden-fm {
        display: flex;
    }
    .hidden-m {
        display: block;
    }
    .hidden-l {
        display: none;
    }
    .hidden-fl {
        display: none;
    }
 }
@media (min-width:1281px) { 
    /* hi-res laptops and desktops */
    .hidden-fm {
        display: flex;
    }
    .hidden-m {
        display: block;
    }
    .hidden-l {
        display: none;
    }
    .hidden-fl {
        display: none;
    }
}