
<div class="navbar text-sm p-layout">
  <div class="">
    <div class="dropdown hidden-l">
      <div tabindex="0" class="btn-humberger pointer pr-4 text-black">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </div>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow rounded-box w-60 menu-mobile bg-white">
        <li><div aria-label="Navbar" (click)="appHelper.goToURL('/')">Packages</div></li>
        <li><div aria-label="Navbar" (click)="appHelper.goToLink('https://github.com/alidihaw/ngodings')">Github</div></li>
        <li><div aria-label="Navbar" (click)="appHelper.goToLink('https://www.buymeacoffee.com/alidihaw')">Support Me</div></li>
      </ul>
    </div>
    <div aria-label="Navbar" class="pointer" (click)="appHelper.goToURL('/')">
      <img loading="lazy" class="logo" *ngIf="isScroll" src="assets/logo.png" alt="logo">
      <img loading="lazy" class="logo" *ngIf="!isScroll" src="assets/logo-white.png" alt="logo">
    </div>
  </div>
  <div class="flex-auto justify-end">
    <ul class="menu menu-horizontal p-0 hidden-fm flex">
      <li><div aria-label="Navbar" (click)="appHelper.goToURL('/')">Packages</div></li>
      <li><div aria-label="Navbar" (click)="appHelper.goToLink('https://github.com/alidihaw/ngodings')">Github</div></li>
      <li><div aria-label="Navbar" (click)="appHelper.goToLink('https://www.buymeacoffee.com/alidihaw')">Support Me</div></li>
    </ul>
  </div>
</div>